body {
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 15%;
}
#calculator {
    border-radius: 3%;
    display:flex;
    flex-direction: column;
    background-color: gray;
    min-height: 480px;
    width: 25vw;
    height: 42vh;
    min-width: 300px;
    max-width: 450px;
}
#screen {
    font-size: xx-large;
    padding: 10px;
    box-shadow: inset 4px 4px rgb(78, 78, 78);
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    width: 85%;
    height: 15%;
}
#buttonContainer {
    justify-content: space-around;
    margin: 1;
    display:flex;
    flex-wrap: wrap;
}
button {
    margin: 5px;
    border-radius:50%;
    min-width: 20%;
    min-height: 40%;
}
#equalsBtn {
    border-radius: 50%;
    width: 50%;
}
button:hover{
    background-color: rgb(245, 159, 159);
    cursor: pointer;
}