body {
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 15%;
}
#calculator {
    border-radius: 3%;
    display:flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(34,156,219,1) 0%, rgba(10,114,187,1) 100%);
    max-width: 350px;
    max-height: 500px;
    width: 25vw;
    height: 42vh;
    min-width: 300px;
    min-height: 450px;
}
#screen {
    font-size: xx-large;
    padding: 10px;
    box-shadow: inset 4px 4px rgb(78, 78, 78);
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(154, 185, 188, 0.8);
    width: 85%;
    height: 15%;
}
#buttonContainer {
    width: 95%;
    height: 95%;
    justify-content: space-around;
    margin: 1px;
    display:flex;
    flex-wrap: wrap;
}
button {
    color:rgb(228, 168, 40);
    font-size: large;
    margin: 3px;
    border-radius:50%;
    width: 21%;
    height: 17%;
}
#delete {
    font-size: small;
}
#equalsBtn {
    background-color: #d6643f;
    border-radius: 50%;
    width: 50%;
}
#clearBtn, #delete{
    background-color: #d6643f;
}
.number {
    background-color: #523d98;
}
.arithmetic {
    background-color: #536ea5;
}
button:hover{
    background-color: rgba(10,114,187,1);
    cursor: pointer;
}
#equalsBtn:hover, #clearBtn:hover, #delete:hover {
    background-color: rgba(10,114,187,1);
    cursor: pointer;
}


