body {
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 25%;
}
#calculator {
    border-radius: 3%;
    display:flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(34,156,219,1) 0%, rgba(10,114,187,1) 100%);
    max-width: 350px;
    max-height: 500px;
    width: 40vw;
    height: 45vh;
    min-width: 350px;
    min-height: 535px;
}
#screen {
    font-size: x-large;
    padding: 10px;
    box-shadow: inset 4px 4px rgb(78, 78, 78);
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(154, 185, 188, 0.8);
    width: 85%;
    height: 15%;
}
#buttonContainer {
    justify-content: space-around;
    margin: 5px;
    display:flex;
    flex-wrap: wrap;
}
button {
    color:rgb(228, 168, 40);
    font-size: large;
    margin: 5px;
    border-radius:50%;
    min-width: 70px;
    min-height: 70px;
}
#delete {
    font-size: small;
}
#equalsBtn {
    background-color: #d6643f;
    border-radius: 50%;
    width: 150px;
}
#clearBtn, #delete{
    background-color: #d6643f;
}
.number {
    background-color: #523d98;
}
.arithmetic {
    background-color: #536ea5;
}
button:hover{
    background-color: rgba(10,114,187,1);
    cursor: pointer;
}
#equalsBtn:hover, #clearBtn:hover, #delete:hover {
    background-color: rgba(10,114,187,1);
    cursor: pointer;
}
